.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    text-transform: uppercase;
    padding: 20px 0;
    position: fixed;
    margin: 0;

    nav ul {
        display: flex;
        li {
            margin: 0 20px;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    h1 {
        font-size: 20px;
        letter-spacing: 15px;
        justify-self: center;
        position: absolute;
        text-align: center;
        left: calc(50vw - 120px);
    }
    h1, li { 
        color: black;
    }

    &.header--inverted {
        h1, li { 
            color: white;
        }
    }
}