/* HEADER */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns:  repeat(12, 1fr);
    grid-template-rows:  20px;
    padding: 3px 10px 1px 10px;
    z-index: 10;
    grid-template-areas: "brand brand navdesk navdesk navdesk navdesk navdesk navdesk . menu menu menu";
    background-color: rgba(255,255,255,0.6);
}

.header__brand {
    grid-area: brand;
    text-transform: uppercase;
    grid-column-start: 1;
    grid-column-end: 7;
}

.nav__section {
    cursor: pointer;
}

/* Dot before active section */

.nav__section.active::before {
    content: "•";
    margin-left: -14px;
    font-size: 1.5em;
    margin-top: -0.24em;
    position: absolute;
}

/* Big display */

.header__nav {
    display: block;
}

.header__nav--big {
    display: block;
    grid-area: navdesk;
}

.header__nav--small {
    display: block;
    grid-area: menu;
}

.header__nav--big ul, .header__nav--small ul {
    grid-template-columns:  repeat(3, 1fr);
    display: grid;
}

.nav__menu {
    display: none; 
    grid-area: menu;
    background-color: transparent;
    height: fit-content;
    text-align: left;
    width: fit-content;
    padding: 0;
}

/* Small display */

@media screen and (max-width: 800px) {
    
    .nav__menu {
        display: block;
    }

    .header__nav {
        display: none;
    }

    .header {
        background-color: white;
        grid-template-areas: "brand brand brand brand brand brand . . . menu menu menu";
    }

    .header__nav--big
    .header__nav--small {
        display: none;
    }

}