.header {
    width: 100vw;
    font-size: 14px;
    text-transform: uppercase;
    padding: 32px 0;
    padding-bottom: 48px;
    position: fixed;
    margin: 0;
    z-index: 1000;
    top: 0;
    left: 0;

    .header__slider {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition-duration: 0.8s;
        transition-property: margin-top;
    }

    nav ul {
        display: flex;
        li {
            margin: 0 32px;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    h1 {
        font-size: 23px;
        letter-spacing: 15px;
        justify-self: center;
        position: absolute;
        text-align: center;
        left: calc(50vw - 111px);
    }
    h1, li { 
        color: black;
    }

    &.header--inverted {
        h1, li { 
            color: white;
        }
    }
}