.slider {
    width: 100vw;
    height: 100vh;
    background-color: red;
    z-index: -1;
    pointer-events: none;

    img, div, video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.slider-wrapper, .carousel-slider, .carousel-root {
    pointer-events: none;
}

.slider__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
    * {
        color: white;
    }
    left: 0;
    z-index: 10;
    padding: 32px;
    transition-duration: .5s;
    transition-property: opacity;

    .footer__first {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-family: 'Suisse';
        font-size: 60px;
    }
    .footer__second {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 10px;
    }
}

.slider__prev, .slider__next {
    width: 50vw;
    height: 80%;
    cursor: none;
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 10;
    pointer-events: all;
}

.slider__next {
    left: 50vw;
    // cursor: e-resize;
}

// Single & double block

.block {
    padding: 32px;
}

.projectItem {
    img, video {
        width: 100%;
        height: fit-content;
        display: block;
        object-fit: cover;
    }
}

.double-project-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .projectItem {
        width: calc(50% - 8px);
    }
}

.project-item__media {
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    display: block;
    height: fit-content;
    transition: .5s;
    transition-property: opacity;
}

.projectItem__client {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
}

.projectItem__title {
    font-family: 'Suisse';
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 100px;
}

// TEXT

.page-content__header {
    padding: 32px;
    padding-top: 100px;
    width: 50%;
    &__description {
        font-size: 16px;
    }

    h1 {
        font-size: 60px;
        font-family: 'Suisse';
        margin-bottom: 20px;
    }
}

@media (max-width: 800px) {
    .page-content__header {
        padding: 15px;
        width: 100%;
        line-height: 130%;
        padding-top: 100px;
        &__description {
            font-size: 14px;
            margin-bottom: 68px;
        }
    
        h1 {
            font-size: 26px;
            margin-bottom: 20px;
        }
    }

    .projectItem__client {
        font-size: 14px;
        margin-top: 10px;
    }
    .projectItem__title {
        font-size: 16px;
        margin-top: 10px;
    }

    .slider__footer {
        padding: 15px;
        .footer__first {
            font-size: 25px;
        }
        .footer__second {
            font-size: 14px;
        }
    }
    .block {
        padding: 15px;
    }
    .double-project-block {
        flex-direction: column;
        .projectItem {
            width: 100% !important;
        }
    }

    .project-item__media {
        border-radius: 3px;
    }

    .projectItem__title {
        margin-bottom: 32px;
    }
}