.audio-player {
    width: 100%;
    height: 100%;
    cursor: pointer;

    * {
        color: white !important;
    }

    .audio-player__visual, .audio-player__visual img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        cursor: pointer;
    }

    footer {
        position: absolute;
        bottom: 0px;
        width: 100vw;
        left: 0;
        padding: 32px;

        img, button img {
            width: 18px;
            height: 18px;
        }

        button, p {
            display: inline-block;
            margin: 0 4px;
        }

        p {
            font-size: 14px;
            margin: 0 40px !important;
        }

        .footer__data__nav__mute img {
            height: 24px !important;
        }

        .footer__data--intro {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;

            h2, h3, button, nav {
                font-size: 16px;
                font-weight: normal;
                margin: 8px 16px;
                padding: 0;
                line-height: 100%;
                width: fit-content;
            }

            h2 {
                margin-left: 0;
            }

            nav {
                position: absolute;
                right: 80px;
                display: flex;
            }

            .footer__data__nav__mute {
                // width: calc(100vw / 12 - 30px);
                text-align: left;
            }

            .footer__data__nav__next {
            }

            .footer__data__wave {
                right: 0;
                position: absolute;

                img {
                    width: 80px;
                    height: 12px;
                }
            }
        }
        .footer__progress {
            width: 100%;
            background-color: rgba(255,255,255,0.4);
            height: 6px;
            margin-top: 8px;
            .footer__progress__played {
                height: 100%;
                background-color: white;
                transition-duration: .2s;
                transition-property: width;
                transition-timing-function: linear;
            }
        }

        .footer__data__nav {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 35px;
        }
    }
}

.player__header {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    h1 {
        font-family: 'Kern';
        font-size: 75px !important;
        margin-top: -40px;
        color: white !important;
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 600%;
    }
}

.player__nav {
    width: 25vw !important;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    height: 100%;
    padding: 32px 32px 0px 32px !important;
    transition-duration: 1s;
    transition-property: margin-left;
    z-index: 1000;

    .player__nav__item * {
        color: black !important;
        text-transform: uppercase;
        font-size: 13px;
    }

    .player__nav__item {
        cursor: pointer;
        position: relative;
        opacity: 0.5;

        .player__nav__item__playing {
            opacity: 0;
        }

        &--selected ,&:hover {
            opacity: 1;
            .player__nav__item__playing {
                opacity: 1;
            }
        }

        a:hover + .player__nav__item__playing {
            opacity: 0;
        }
    }

    p {
        margin-bottom: 5px;
    }

    li {
        margin-bottom: 30px;
    }
    ul {
        overflow-y: scroll;
        overflow-x: visible;
        height: 100%;
    }

    .player__nav__item__playing {
        position: absolute;
        top: 0;
        right: 0px;
    }

    .player__nav__toggle {
        position: absolute;
        bottom: 25px;
        color: white !important;
        text-transform: uppercase;
        z-index: 10000;
        display: flex;
        width: 150px;
        left: calc(25vw + 25px);
    }
}

.audio-player__visual {
    cursor: none !important;
    background-image: url('/img/player.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}