// .information--modal {
//     position: sticky;
//     margin-top: -200px;
// }

.blur--1 {
    height: 100vh;
    width: 100vw;
    // background-color: rgba(255,255,255,0.3);
}

.blur__child {
    height: 100vh;
    width: 100vw;
}



.blur--2 {
    height: 100vh;
    width: 100vw;
    // background-color: rgba(255,255,255,0.3);
}

.information--modal {
    position: absolute;
    z-index: 10000;
    min-height: 100vh;
    // background-color: rgba(255,255,255,0.5);
    // overflow-y: hidden;
    margin-top: calc(-100vh - 92px);
    width: 100vw;
    // position: sticky;
    // top: 0;
    border: solid 1px red;
}

.information {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    padding: 55px 20px 20px 20px;
    display: flex;
    // position: relative;
    flex-direction: column;
    justify-content: space-between;
    cursor: s-resize;

    * {
        color: white;
        text-transform: uppercase;
    }
}

.information__social {
    font-size: 11px;
    line-height: 125%;
    & li {
        margin-top: 4px;
    }
}

.information__text {
    font-size: 22px;
    line-height: 125%
}

@media (max-width: 800px) {
    .information {
        padding: 12px;
    }
}