/* GRID COMPONENT */

.block--grid {
    display: grid;
    padding: 5px 10px;
}

/* Change spaces between rows here */

.griditem {
    margin-bottom: 100px;
}

.grid-item__description {
    margin-top: 5px;
}

.gridrow {
    grid-column-start: 1;
    grid-column-end: 12;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

/* 1-12 */
.griditem--1-12 {
    grid-column-start: 1;
    grid-column-end: 13;
}

/* 1-6 */
.griditem--1-6 {
    grid-column-start: 5;
    grid-column-end: 11;
}

/* 1-4 */

.griditem--1-4 {
    grid-column-start: 4;
    grid-column-end: 8;
}

/* 2-4-6 */

.griditem--2-4-6 .griditem:first-child {
    grid-column-start: 1;
    grid-column-end: 7;
}

.griditem--2-4-6 .griditem:last-child {
    grid-column-start: 9;
    grid-column-end: 13;
}

/* 2-6-4 */

.griditem--2-6-4 .griditem:first-child {
    grid-column-start: 1;
    grid-column-end: 5;
}

.griditem--2-6-4 .griditem:last-child {
    grid-column-start: 7;
    grid-column-end: 13;
}
/* 2-3-5 */

.griditem--2-3-5 .griditem:first-child {
    grid-column-start: 1;
    grid-column-end: 6;
}

.griditem--2-3-5 .griditem:last-child {
    grid-column-start: 9;
    grid-column-end: 12;
}

/* 2-5-3 */

.griditem--2-5-3 .griditem:first-child {
    grid-column-start: 2;
    grid-column-end: 5;
}

.griditem--2-5-3 .griditem:last-child {
    grid-column-start: 8;
    grid-column-end: 13;
}