@font-face {
  font-family: "Grains";
  src: url("/grains_5VF.ttf")
    format("truetype");
}

body {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(32, 34, 3, 1);
  overflow: hidden;
}

h1 {
  font-family: 'Grains';
  font-size: 300px;
  color: rgba(255, 237, 0, 1);
  font-weight: normal;
}

.info-box {
  position: absolute;
  width: 250px;
  height: 70px;
  left: 10px;
  top: 10px;
  background-color: white;
  padding: 20px;
  font-family: sans-serif;
}

.low-round {
  width: 200px;
  height: 200px;
  background-color: white;
  transform-origin: center;
  border-radius: 50%;
  position: absolute;
  top: 100px;
  right: 100px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: sans-serif;
}

.high-round,.mid-round,.sub-round {
  width: 200px;
  height: 200px;
  background-color: red;
  transform-origin: center;
  border-radius: 50%;
  position: absolute;
  top: 250px;
  right: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: sans-serif;
}

.mid-round {
  background-color: grey;
  top: 400px;
}

.sub-round {
  background-color: yellow;
  color: black;
  top: 550px;
}