@font-face {
    font-family: 'next';
    src: url('../public/fonts/UniversNextProBold.ttf');
}

*, a, h1, h2, h3, p, div {
    font-family: 'next' !important;
}
  
body {
    font-family: "next" !important;
    background-color: #FAFAFA;
}

a:hover, button:hover {
    text-decoration: underline;
    color: #9E9E9E;
    cursor: pointer;
}

header a:hover, header button:hover  {
    text-decoration: none !important;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    /* padding-top: 50px; */
}

.wrapper--2 {
    pointer-events: none;
    z-index: 1;
}

.wrapper--1 #scroll-wrapper {
    opacity: 0;
}

.wrapper--1 {
    z-index: 4;
    /* scroll-snap-type: y proximity; */
}

@media (max-width: 800px) {
    .wrapper {
        padding-top: 35px;
    }
}

* {
    -webkit-font-smoothing: antialiased;
}