@font-face {
    font-family: 'next';
    src: url('../public/fonts/UniversNextProBold.ttf');
}

* {
    font-family: 'next', sans-serif;
}
  
body {
    font-family: "next", sans-serif;
    background-color: white;
}

a:hover, button:hover {
    text-decoration: underline;
    color: #9E9E9E;
    cursor: pointer;
}


.wrapper {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.wrapper--2 {
    pointer-events: none;
    z-index: 1;
}

.wrapper--1 #scroll-wrapper {
    opacity: 0;
}

.wrapper--1 {
    z-index: 4;
}

@media (max-width: 800px) {
    .wrapper {
        padding-top: 12px;
    }
}