@font-face {
    font-family: 'Kern';
    src: url('../public/fonts/Kern_Regular.otf');
}

@font-face {
    font-family: 'Suisse';
    src: url('../public/fonts/SuisseWorks-Book.otf');
}

*, a, h1, h2, h3, p, div {
    font-family: 'Kern' !important;
}
  
body {
    font-family: "Kern" !important;
}



a:hover, button:hover {
    text-decoration: underline;
    cursor: pointer;
}

header a:hover, header button:hover  {
    text-decoration: none !important;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    /* padding-top: 50px; */
}

.wrapper--2 {
    pointer-events: none;
    z-index: 1;
    background-color: #FAFAFA;
}

.wrapper--1 #scroll-wrapper {
    opacity: 0;
}

.wrapper--1 {
    z-index: 4;
    /* scroll-snap-type: y proximity; */
}

/* @media (max-width: 800px) {
    .wrapper {
        padding-top: 35px;
    }
} */

* {
    -webkit-font-smoothing: antialiased;
}