.intro-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
}

.intro {
    height: 100vh;
    width: 100vw;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;   
    cursor: wait; 
}

.intro-wrapper {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.intro-wrapper::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

h1 {
    max-width: 80vw;
    word-break: keep-all;
    text-align: center;
    line-height: 125%;
}