/* INTRO COMPONENT + CONTACT COMPONENT */

.intro, .contact {
    display: block;
    padding: 5px 10px;
    height: fit-content;
}

.intro__newsletter input[type=EMAIL], .intro__newsletter button, .contact__newsletter input[type=EMAIL], .contact__newsletter button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
    padding-left: 0;
    text-align: left;
}

.intro__newsletter button, .contact__newsletter button {
    margin-top: 10px;
}

.intro__newsletter input[type=email]::placeholder, .contact__newsletter input[type=email]::placeholder {
    opacity: 0.3;
}

/* Small display */

.intro__address, .intro__contact, .intro__newsletter, .contact__address, .contact__contact, .contact__newsletter {
    margin-bottom: 10px;
}

/* Middle display */

@media screen and (min-width: 750px) {

    .intro__address, .contact__address {
        grid-area: address;
    }
    
    .intro__contact, .contact__contact {
        grid-area: contact;
    }
    
    .intro__newsletter, .contact__newsletter {
        grid-area: newsletter;
    }

    .intro, .contact {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2, 50px);
        grid-template-areas: "address address address address form form form form . newsletter newsletter newsletter"
        "contact contact contact contact form form form form . . . .";
    }

    .contact main {
        grid-area: form;
    }

}

/* Big display */

@media screen and (min-width: 900px) {

    .intro, .contact {
        grid-template-areas: "address address contact contact form form form form . newsletter newsletter newsletter";
    }

    .contact main {
        grid-area: form;
    }

}