/* INTRO COMPONENT + CONTACT COMPONENT */

.intro {
    padding: 5px 10px;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 50px);
    grid-template-areas: "address address kontakt kontakt form form form form . newsletter newsletter newsletter";
    column-gap: 10px;
}

.intro {
    margin-top: 22px;
}

.intro__newsletter input[type=EMAIL], .intro__newsletter button {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    padding-left: 0;
    text-align: left;
}

.intro__newsletter button {
    margin-top: 10px;
}

.intro__newsletter input[type=email]::placeholder, .kontakt__newsletter input[type=email]::placeholder {
    opacity: 0.3;
}

.intro__kontakt a {
    display: block;
}

/* Small display */

.intro__address, .intro__kontakt, .intro__newsletter {
    margin-bottom: 10px;
}

.intro__address {
    grid-area: address;
}

.intro__kontakt {
    grid-area: kontakt;
}

.intro__newsletter {
    grid-area: newsletter;
}

/* Middle display */

@media screen and (max-width: 900px) {


    .intro {
        display: grid;
        grid-template-areas: "address address address address form form form form . newsletter newsletter newsletter"
        "kontakt kontakt kontakt kontakt form form form form . . . .";
    }

}

/* Big display */

@media screen and (max-width: 800px) {

    .intro {
        display: block;
    }

}