.kontakt, .studio, .preise {
    background-color: #FFFF64;
}

.kontakt__text {
    padding: 0px 10px 10px 10px;
    font-size: 1.5em;
    letter-spacing: initial;
    line-height: 110%;
}

.kontakt__kontakt a {
    display: block;
}

.kontakt main input:-webkit-autofill, .kontakt main textarea:-webkit-autofill,.kontakt main button:-webkit-autofill, .kontakt main input, .kontakt main textarea,.kontakt main button {
    display: block;
    font-size: 1.5em;
    letter-spacing: initial;
    line-height: 110%;
    background-color: transparent;
    outline: none;
    border: none;
    font-family: 'font';
    resize: none;
    text-align: left;
    padding: 0;
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0 30px #FFFF64 inset;
    width: 100%;
    margin-right: 0;
}

.kontakt__newsletter button {
    margin-top: 10px;
}


.kontakt__kontakt, .kontakt__newsletter {
    margin-bottom: 10px;
}

.kontakt__newsletter input[type=EMAIL], .kontakt__newsletter button {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    padding-left: 0;
    text-align: left;
}

#agreement {
    display: none;
}

.kontakt, .kontakt__grid, .kontakt main {
    height: fit-content;
}

.kontakt main {
    display: inline;
    width: fit-content;
}

.kontakt main form {
    padding-bottom: 120px;
}

.kontakt main input::placeholder, .kontakt main textarea::placeholder {
    opacity: 0.3;
}

.kontakt main textarea {
    height: 52px;
    margin-bottom: 0px;
    overflow-y: scroll;
}

.kontakt__grid {
    padding-top: 50px;
    padding-bottom: 150px;
    grid-template-areas: "address address kontakt kontakt form form form form . newsletter newsletter newsletter";
    display: grid;
    padding: 0px 10px;
    height: fit-content;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    column-gap: 10px;
}

.agreement-secret {
    width: 7px !important;
    height: 7px;
    margin-top: 2.7px;
    display: inline-block !important;
    border: solid 1.5px black !important;
    -webkit-text-fill-color: inherit !important;
    -webkit-box-shadow: inherit !important;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0;
    vertical-align: top;
    pointer-events: none;
}   

.agreement-secret.checked {
    background-color: black;
}

label[for=agreement] {
    display: inline-block;
    width: calc(100% - 12px);
    padding-left: 10px;
    margin-left: -5px;
    margin-bottom: 15px;
    cursor: pointer;
}

.kontakt__address {
    grid-area: address;
}

.kontakt__kontakt {
    grid-area: kontakt;
}

.kontakt__newsletter {
    grid-area: newsletter;
    padding-bottom: 30px;
}

.kontakt main {
    grid-area: form;
}

.form__send:hover {
    color:rgba(0, 0, 0, 0.2);
    -webkit-text-fill-color: unset;
}

@media screen and (max-width: 900px) {

    .kontakt__grid {
        display: grid;
        grid-template-rows: repeat(1, 40px auto);
        grid-template-areas: "address address address address form form form form . newsletter newsletter newsletter"
        "kontakt kontakt kontakt kontakt form form form form . . . .";
    }

}

@media screen and (max-width: 700px) {

    .kontakt__grid {
        display: block;
    }

}
