.kontakt, .studio, .preise {
    background-color: #FFFF64;
}

.kontakt main input:-webkit-autofill, .kontakt main textarea:-webkit-autofill,.kontakt main button:-webkit-autofill, .kontakt main input, .kontakt main textarea,.kontakt main button {
    display: block;
    font-size: 1.2rem;
    background-color: transparent;
    outline: none;
    border: none;
    font-family: 'font';
    resize: none;
    text-align: left;
    padding: 0;
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0 30px #FFFF64 inset;
    width: 100%;
    margin-right: 0;
}

#agreement {
    width: 7px;
    height: 7px;
    vertical-align: top;
    margin-top: 4px;
    margin-right: 5px;
    display: inline-block;
    border: solid 1.5px black !important;
    -webkit-box-shadow: 0 0 0 30px black inset;
    border-radius: 50%;
    margin-left: 0;
}

.kontakt, .kontakt main {
    height: fit-content;
}

.kontakt main {
    display: inline;
    width: fit-content;
}

.kontakt main input::placeholder, .kontakt main textarea::placeholder {
    opacity: 0.3;
}

.kontakt {
    padding-top: 50px;
    padding-bottom: 150px;
}