/* FOOTER */

footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 3px 10px;
}

.footer__brand {
    grid-column-start: 1;
    grid-column-end: 3;
    cursor: default;
}

.footer__top--desktop {
    grid-column-start: 3;
    grid-column-end: 5;
    cursor: pointer;
}

.footer__impressum {
    grid-column-start: 10;
    grid-column-end: 12;
    cursor: pointer;
}

.footer__top--mobile {
    display: none;
}

@media screen and (max-width: 800px) { 
    footer {
        display: block;
        padding: 5px 10px;
    }

    .footer__top--desktop {
        display: none;
    }

    .footer__top--mobile {
        display: block;
        margin-bottom: 10px;
    }

}