.footer {
    height: calc(100vh - 50px);
    padding: 32px;
    display: flex;
    position: relative;
    
    .footer__text {
        width: 33%;
        margin-right: 17%;
        font-size: 25px;

        p {
            margin-bottom: 20px;
            line-height: 130%;
        }
    }

    .footer__footer {
        position: absolute;
        bottom: 32px;
        left: 32px;
        display: flex;
        text-transform: uppercase;
        font-size: 12px;

        p {
            margin-right: 30px;
        }
    }

    .footer__nav {
        font-size: 36px;
        font-family: 'Suisse';
        li {
            margin-bottom: 20px;
        }
    }
}

.footer__nav:first-of-type {
    // width: 33%;
    width: calc(50% - 284px);
}