.impressum {
  display: none;
  padding: 5px 10px;
  grid-template-areas: "impressum impressum impressum impressum impressum impressum impressum impressum impressum close . .";
  grid-template-columns: repeat(12, 1fr);
  align-items: start;
  column-gap: 10px;
}

.impressum__close {
  border: none;
  grid-area: close;
  background-color: transparent;
  padding: 0;
  text-align: left;
  font-size: 1em;
  line-height: 116%;
}

.impressum__close--fixed {
  position: fixed;
  top: 25px;
  left: calc(100vw * 0.75);
  margin-left: 2.5px;
}

.impressum div {
  grid-area: impressum;
}

@media screen and (max-width: 800px) { 
  .impressum {
    grid-template-rows: 0px auto;
    grid-template-areas: ". . . . . . . . . close . ."
    "impressum impressum impressum impressum impressum impressum impressum impressum impressum impressum impressum impressum";
  }


}

