
/* TEXTAREA COMPONENT */
.block--textarea {
    padding: 0px 10px 10px 10px;
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: initial;
}

/* COLUMN COMPONENT */
.block--columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 20px 0 20px;
    column-gap: 10px;
}

.column {
    padding-right: 35px;
    text-indent: -10px; 
}

.column h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    line-height: 110%;
    letter-spacing: initial;
}

.column li p::before {
    content: '•';
    display: inline-block;
    margin-left: 10px;
}

@media screen and (max-width: 800px) {
    .block--columns {
        display: block;
    }
    .column {
        padding-right: 0;
        padding-bottom: 20px;
    }
}